.perent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    height: 200px;
    border: 2px solid black;
    gap: 10px;

}
.item{
    border: 2px solid green;
}
@media (max-width: 768px){
    .perent{
        grid-template-columns: 1fr 1fr 1fr;
        background-color: aqua;
    }   
}

@media (max-width: 390px){
    .perent{
        grid-template-columns: 1fr 1fr;
        background-color: yellow;
    }   
}
