*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container{
    display: grid;
    background: #efefef;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;
}

.grid-container .grid-item{
    background: black;
    color: white;
    transition: 2s ease;
    animation: fadeIn alternate infinite;
    animation-duration: 1s;
}

.grid-container .grid-item:hover{
    background: red;
}

@keyframes fadeIn{
    from{
        opacity: 1;
        transform: rotate();
    }
    to{
        opacity: 0.1;
    }
}

@media screen and (max-width: 700px) {
    .grid-container{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}