*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container{
    display: grid;
    background: #efefef;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;
}

.grid-container .grid-item{
    background: black;
    color: white;
    transition: 2s ease;
    animation: fadeIn;
    animation-duration: ;
}
/* 
.grid-container .grid-item:hover{
    background: red;
    font-size: 50px;
} */

@keyframes fadeIn{
    from{
        opacity: 1;
    }
    to{
        opacity: 0.1;
    }
}

@media screen and (max-width: 700px) {
    .grid-container{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}