*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation{
    width: 100%;
    background: white;
    box-shadow: 1px 2px 3px 2px #e8e2e2;
    display: flex;
    justify-content: space-around;
    padding: 0 10px;
}