*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation{
    width: 100%;
    background: white;
    box-shadow: 1px 2px 3px 2px #e8e2e2;
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
    align-items: center;
}
.navigation h4{
    font-size: 30px;
}
.links{
    display: flex;
    gap: 15px;
}
.links a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.links a:hover{
    color: blue;
}

@media