*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation{
    width: 100%;
    background: white;
    box-shadow: 1px 2px 3px 2px #e8e2e2;
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
    align-items: center;
    flex-direction: row;
}
.navigation h4{
    font-size: 30px;
}
.links{
    display: flex;
    gap: 15px;
}
/* 
.links a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.links a:hover{
    color: blue;
}
.logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.logo img{
    width: 100px;
    height: 100px;  
    border-radius: 50%;
}
@media screen and (max-width: 1000px){
    .navigation{
        background: red;
        justify-content: space-between;
        padding: 30px;
    }
    .navigation h4{
        font-size: 25px;
        color: white;
    }

    .logo img{
        width: 70px;
        height: 70px;  
        border-radius: 20px;
    }
    
}
@media screen and (max-width: 500px){
    .navigation{
        background: #e8e2e2;
        flex-direction: column;
        justify-content: left;
        gap: 20px;
    }
    .navigation h4{
        font-size: 25px;
        color: blue;
    }

    .logo img{
        width: 50px;
        height: 50px;  
        border-radius: 0px;
    }
} */