*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container{
    display: grid;
    background: #efefef;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 20px;
}

.grid-container .grid-item{
    background: black;
    color: white;
}

@media screen and (max-width: 700px) {
    
}