@import "layer.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background: red;
    width: 50px;
    height: 50px;
    display: flex;
    position: fixed;
    top: auto;
    right: 20px;
    bottom: 20px;
    z-index: 2;
}
.header h5{
    margin: auto;
}

.position-style{
    width: 100%;
    padding: 10px;
    background: blue;
    position: relative;
}
.position-style h2{
    position: absolute;
    bottom: 0px;
    right: 20px;
}

.content{
    z-index: 1;
    /* background: white; */
}

.float{
    float: right;
    clear: both;
}

.flex-elemet{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.flex-elemet div{
}