*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background: red;
    width: 50px;
    height: 50px;
    display: flex;
    position: fixed;
    top: auto;
    left: ;
    right: ;
    bottom: 0px;
}
.header h5{

}