*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 13px 0;
    box-shadow: 0px 2px 3px 1px #ddd;
    align-items: center;
}
.header-left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.header-left img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.header-left h4{
    font-size: 20px;
    
}

.header-right{
    display: flex;
    gap: 15px;
}
.header-right li{
    list-style: none;
}
.header-right li a{
    text-decoration: none;
    color: #333;
}
.register-button{
    padding: 12px 20px;
    border: solid 1px #aaa;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.register-button:hover{
    background: blue;
    color: white;
}

/* hero-section */

.hero-section{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(1, 49, 181, 0.5), rgba(1, 49, 181, 0.6));
    display: flex;
}
.hero-section-value {
    margin: auto;
    text-align: center;
}
.hero-section-value h4{
    font-size: 10rem;
}