*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 13px 0;
}
.header-left{
    display: flex;
}
.header-left img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}