*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.welcome{
    color: red;
    background: blue;
}
#secondHtml{
    text-align: center;
    background: yellow;
}

.header{
    width: 100%;
    background: rgb(117, 231, 9);
    /* margin: 20px 20px 20px 120px; */
    padding: 20px;
    display: flex;
}
.header nav{
    display: flex;

}