.header{
    /* background: blue; */
    background-image: linear-gradient(rgba(46, 96, 188, 0.3), rgba(0, 197, 30, 0.3)), url("assets/b.jpg");
    /* background: linear-gradient(to right, rgba(25, 250, 40, 0.5), rgba(0, 197, 30, 0.917)); */
    background-attachment: fixed;
    height: 100%;
}

.header h3{
    font-family: sans-serif;
    font-size: 21.5px;
}
.header p{
    font-weight: bold;
    line-height: 2;
    font-style: italic;
    text-decoration: dashed underline;
    text-transform: lowercase;
    color: hsl(125, 96%, 53%);

}

.border{
    border: solid 1px red;
    padding: 5px;
    border-radius: 10px;
    border-top-left-radius: 30px;
    width: 100px;
    height: 100px;
    box-shadow: 1px 2px 2px 1px red;
}
.grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.grid div{
    background: red;
}